<article>
  <form action="/memos/<%= @memo['id'] %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <div class="form_items">
      <div>
        <input type="text" id="title" name="title" value=<%= @memo['title'] %>>
      </div>
      <div>
        <textarea id="content" name="content"><%= @memo['content'] %></textarea>
      </div>
    </div>
    <div class="form_action">
      <input type='submit' value='変更'>
    </div>
  </form>
</article>
