<!DOCTYPE html>
<html lang="ja">
<head>
  <link rel="stylesheet" href="/style.css" >
  <mata charset="utf-8">
  <title>sinatra</title>
</head>
<body>
<header>
  <nav>
  <h1>メモアプリ</h1>
    <ul>
      <li><a href="/memos">TOP</a>
      <li><a href="/memos/new">新規メモ</a>
    </ul>
  </nav>
</header>
<article>
  <ul>
    <% @memo["memos"].each do |memo| %>
      <% next unless memo["id"] %>
      <li>
        <a href= "/memos/<%= memo["id"] %>" ><%= memo["title"] %></a>
      </li>
    <% end %>
  </ul>
</article>
</body>
</html>